<form [formGroup]="projectForm" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px"  (ngSubmit)="onFormSubmit()">
  <tui-input class="b-form" formControlName="name">
    Nombre del Proyecto
  </tui-input>
  <tui-select tuiTextfieldSize="s" formControlName="type">
    Tipo Proyecto
    <tui-data-list-wrapper *tuiDataList [items]="tipo"></tui-data-list-wrapper>
  </tui-select>
  <tui-input class="b-form" formControlName="url">
    URL
  </tui-input>
  <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="8px">
    <button tuiButton type="submit" size="m">Aceptar</button>
    <button (click)="closeDialog()" tuiButton type="button" size="m">Cancelar</button>
  </div>
</form>
