Bienvenidos(as) al Ecosistema de Datos Abiertos, un proyecto web orientado a identificar a los distintos actores,
proyectos y tecnologías involucrados en la producción y procesamiento de datos abiertos en Bolivia.

El proyecto permite plantear posibles rutas de colaboración, conocer y difundir proyectos a nivel nacional. A su vez,
cuenta con una funcionalidad que permite que los involucrados también registren sus proyectos como parte del ecosistema.

<p>Elaborado por:</p>




<a href="https://labtecnosocial.org/" target="_blank">
  <img style="width: 128px;" src="assets/tecnolab_logo.png" />
</a>
