<form (ngSubmit)="onFormSubmit()" [formGroup]="actorForm" fxLayout="column" fxLayoutAlign="start stretch"
  fxLayoutGap="16px">
  <tui-input  tuiTextfieldSize="s" formControlName="name">
    Nombre del Actor
  </tui-input>
  <p class="b-form">
    <tui-select tuiTextfieldSize="s" formControlName="type">
      Tipo Nodo
      <tui-data-list-wrapper *tuiDataList [items]="items"></tui-data-list-wrapper>
    </tui-select>
  </p>
  <tui-select tuiTextfieldSize="s" formControlName="sector">
    Sector
    <tui-data-list-wrapper *tuiDataList [items]="sector"></tui-data-list-wrapper>
  </tui-select>
  <tui-select tuiTextfieldSize="s" formControlName="group">
    Grupo
    <tui-data-list-wrapper *tuiDataList [items]="grupo"></tui-data-list-wrapper>
  </tui-select>
  <tui-select tuiTextfieldSize="s" formControlName="role">
    Rol
    <tui-data-list-wrapper *tuiDataList [items]="rol"></tui-data-list-wrapper>
  </tui-select>
  <tui-input class="b-form" formControlName="url">
    URL
  </tui-input>
  <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="8px">
    <button tuiButton type="submit" size="m" >Aceptar</button>
    <button  (click)="closeDialog()"  tuiButton type="button" size="m" >Cancelar</button>
  </div>
</form>
